<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4"> <span class="login">Bienvenue !</span></h1>
                                    </div>
                                    <form class="user" [formGroup]="myform" (ngSubmit)="authentifier()">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Entrez votre Adresse E-mail..." formControlName="cemail">
                                            <div *ngIf="cemail.touched && cemail.invalid">
                                                <small *ngIf="cemail.errors.required" class="text-danger">le champs email est obligatoire <br> </small>
                                                <small *ngIf="cemail.errors.email" class="text-danger">  le champs doit etre un email   </small>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Mot De Passe " formControlName="cmotdepasse">
                                            <div *ngIf="cmotdepasse.touched && cmotdepasse.invalid">
                                                <small *ngIf="cmotdepasse.errors.required" class="text-danger">le champs mot de passe est obligatoire <br> </small>
                                                <small *ngIf="cmotdepasse.errors.minlength" class="text-danger">  le champs doit contenir plus que 6 characteres    </small>
                                                <small *ngIf="cmotdepasse.errors.pattern" class="text-danger"> champs invalide    </small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-secondary btn-user btn-block">
                                           Se Connecter
                                          </button>
                                        <hr>
                                        <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Se Connecter Avec Google
                                        </a>
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Se Connecter Avec Facebook
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Mot De Passe Oublié ?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="register.html" [routerLink]="['/register']">Céer Un compte!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>