<body class="Reclamation">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block imgreclamation"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4"> <span class="titrer">Saisir Votre Message !</span></h1>
                                    </div>
                                    <form class="user" [formGroup]="myform" (ngSubmit)="addmessage()">

                                        <div class="form-group">
                                            <div class="h5  text-gray-800"> A quel Formateur ? </div>


                                        </div>
                                        <div class="form-group">
                                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="formateur"> 
                                                <option *ngFor="let i of listeformateur" value={{i.id}}>
                                                    {{i.prenom}}
                                                </option>
                                              </select>

                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Ecrivez vos messages a envoyer ' ! " formControlName="message"></textarea>
                                            <div *ngIf="message.invalid && message.touched">
                                                <small *ngIf="message.errors.required" class="text-danger"> le champs est obligatoire s'il vous plait ecrivez votre message</small>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-secondary btn-user btn-block">
                                               Evoyer 
                                        </button>

                                    </form>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>